.App {
  text-align: center;
}
input{
  width:20vw;
  height: 5vh;
  text-overflow: wrap;

}
textarea {
  width: 20vw;
  height: 10vh;
}
.eachDilemma, .eachChoice{
  border: solid black;
  width:22%;
  margin: 1%;
}

.ulDilemmas, .ulChoices {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

nav > ul {
 padding-top: 2%;
 list-style:none;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

div> nav {
  height: 10vh;
  background:  darkcyan;
}
.homeContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  width:100vw;
  
}
main {
  width:50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
article, aside {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border: solid;
  margin: 1%;
}
aside {
  width: 30%;

}


