.App {
  text-align: center;
}
input{
  width:20vw;
  height: 5vh;
  text-overflow: wrap;

}
textarea {
  width: 20vw;
  height: 10vh;
}
.eachDilemma, .eachChoice{
  border: solid black;
  width:22%;
  margin: 1%;
}

.ulDilemmas, .ulChoices {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

nav > ul {
 padding-top: 2%;
 list-style:none;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

div> nav {
  height: 10vh;
  background:  darkcyan;
}
/* nav > ul >li {
  display: flex;
  align-items: space-between;
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
